<!-- Banner -->
<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>Let’s have some fun!</h1>
    </header>
    <div class="content">
    </div>
  </div>
</section>

<!-- Main -->
<div id="main">

  <!-- One -->
    <section id="one" class="tiles">
      <article>
        <span class="image">
          <%= image_tag 'pic01.jpg', alt: "" %>
        </span>
        <header class="major">
          <h3><a href="landing.html" class="link">Kikutan 600</a></h3>
          <p>&nbsp;</p>
        </header>
      </article>
      <article>
        <span class="image">
          <%= image_tag 'pic02.jpg', alt: "" %>
        </span>
        <header class="major">
          <h3><a href="landing.html" class="link">Kikutan 800</a></h3>
          <p>&nbsp;</p>
        </header>
      </article>
      <article>
        <span class="image">
          <%= image_tag 'pic03.jpg', alt: "" %>
        </span>
        <header class="major">
          <h3><a href="landing.html" class="link">Kikutan 990</a></h3>
          <p>&nbsp;</p>
        </header>
      </article>
      <article>
        <span class="image">
          <%= image_tag 'pic04.jpg', alt: "" %>
        </span>
        <header class="major">
          <h3><a href="landing.html" class="link">Mix</a></h3>
          <p>mixed 600, 800 and 990</p>
        </header>
      </article>
			<article>
				<span class="image">
          <%= image_tag 'pic05.jpg', alt: "" %>
				</span>
				<header class="major">
					<h3><a href="landing.html" class="link">My cards</a></h3>
					<p>saved by myself</p>
				</header>
			</article>
    </section>
</div>
