<!-- Main -->
<div id="main" class="alt">
	<!-- One -->
	<section id="one">
		<div class="inner">

			<!-- Content -->
			<h2 id="content">Today's 20 words</h2>

			<hr class="major" />

			<!-- Elements -->
			<div class="row gtr-200">
				<div class="col-12 col-12-medium">

					<!-- Table -->
          <h4>
            <% if params[:book_id] == "0" %>
              Mix
            <% else %>
              <%= @book.title %>
            <% end %>
          </h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>No.</th>
									<th>Word</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
                <% @words.each_with_index do |word, i| %>
                  <tr>
                    <td><%= i + 1 %></td>
                    <td><%= word.character %></td>
                    <td><%= link_to 'Check', "javascript:void(0)", class: "button primary small", id: "open_meaning_#{i + 1}" %></td>
                  </tr>
                  <tr id="meaning_area_<%= i + 1 %>" style="display:none;">
                    <td colspan="3">
                      <%= word.meaning %>
                      <br><br>
                      <%= link_to 'save', search_alc_url(word), html_options = {target: "_blank", class: "button small disabled"} %>
                      &nbsp;&nbsp;&nbsp;
                      <%= link_to 'alc', search_alc_url(word), html_options = {target: "_blank", class: "button small"} %>
                      &nbsp;&nbsp;&nbsp;
                      <%= link_to 'weblio', search_weblio_url(word), html_options = {target: "_blank", class: "button small"} %>
                      &nbsp;&nbsp;&nbsp;
                      <%= link_to 'images', search_image_url(word), html_options = {target: "_blank", class: "button small"} %>
                    </td>
                  </tr>
                <% end %>
							</tbody>
						</table>
					</div>

				</div>
			</div>

		</div>
	</section>

</div>
