<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Nameless app</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body class="">
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<a href="/" class="logo"><strong>Nameless app</strong></a>
				<nav>
				</nav>
			</header>

      <%= yield %>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; satomicchy</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>
      <script type="text/javascript">
        <% (1..20).each do |n| %>
          <%== ("document.getElementById('open_meaning_#{n}').onclick = function() {
           var yourUl = document.getElementById('meaning_area_#{n}');
           yourUl.style.display = yourUl.style.display === 'none' ? '' : 'none';
           };") %>
        <% end %>
      </script>

		</div>
	</body>
</html>
